<div>
    <div>
        <a href="#article/add" class="btn btn-success">新增</a>
    </div>
    <hr/>
    <table datatable="ng"  class="table table-hover" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th>文章标题</th>
            <th>创建日期</th>
            <th>是否草稿</th>
            <th>操作</th>
        </tr>
        </thead>
        <tr ng-repeat="article in articles">
            <td>{{article.title}}</td>
            <td>{{article.create_time}}</td>
            <td>否</td>
            <td>
                <a href="#user/update/{{user._id}}"
                   tooltip="修改"
                   tooltip-placement="top"
                   tooltip-trigger="mouseenter">
                    <i class="fa fa-pencil"></i>
                </a>&nbsp;
                <a href="javascript:void(0)" ng-click="del(user._id)"
                   tooltip="删除"
                   tooltip-placement="top"
                   tooltip-trigger="mouseenter">
                    <i class="fa fa-trash" title="删除"></i>
                </a>
            </td>
        </tr>
    </table>

</div>